* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 16px;
    color: #345e68;
}
h1, h2{
    font-family: "Arial Black", Gadget, sans-serif;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 1.1vh 0vh;
    line-height: 2rem;
}
h2{
    font-size: 1.1rem;
}
p{
    font-family: "Arial Black", Gadget, sans-serif;
    text-align: center;
}
/* NAVIGATION */
.burger{
    position: absolute;
    top: 5vw;
    left: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.burger__bar{
    width: 13vw;
    height: 2vw;
    margin-bottom: 1.5vw;
    border-radius: 2px;
    background-color: rgb(95, 93, 90);
}
/* -----------*/

.section{
    height: 100vh;
    display: flex;
    background-color: rgb(234, 239, 243);
}
.infobox{
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255, 0.8);
    border-radius: 4px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(224,220,224,1);
    -moz-box-shadow: 10px 10px 5px 0px rgba(224,220,224,1);
    box-shadow: 10px 10px 5px 0px rgba(224,220,224,1); 
}

/* HOME */
.section__home{
    background-image: url(/assets/images/glut1.png);
    background-position: top;
    background-size: 100%;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
}
.infobox-home{
    width: 70%;
    height: 63%;
    justify-content: space-between;
}
.infobox-home__p{
    letter-spacing: 2px;
}
.infobox-home__img{
    width: 62%;
    display: block;
    margin: 2vh auto;
}
/* ABOUT */
.section__about{
    background-image: url(/assets/images/glut2.png);
    background-position: top right;
    background-size: 50%;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.infobox-about{
    width: 90%;
    height: 75%;
    padding: 4vw;
}
.infobox-about__p{
    font-size: 0.76rem;
    letter-spacing: 1px;
    margin: 1vh 3vw;
}
.keys_img{
    width: 30%;
    position: absolute;
    top: 80%;
    left: 65%;
}
/* DETAILS */
.section__details{
    background-image: url(/assets/images/glut3.png);
    background-position: top left;
    background-size: 80%;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.infobox-details{
    width: 90%;
    height: 85%;
    padding: 4vw;
    justify-content: space-around;
}
.infobox__group--details{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2vh;
}
.infobox-details__span{
    width: 80%;
}
.ok_img{
    width: 10vw;
    height: 10vw;
}
/* PRICING */
.section__pricing{
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding-top: 13vh;
}
.pricing-box-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 70%;
}
.pricing-box{
    background-color: white;
    border: 1px solid #29454b;
    padding: 3vw;
    width: 80%;
    height: 24%;
    position: relative;
}
.pricing-box__p{
    font-size: 0.75rem;
}
.pricing-box__circle{
    position: absolute;
    left: calc(50% - 8vw);
    top: calc(100% - 8vw);
    border-radius: 8vw;
    background-color: #29454b;
    height: 16vw;
    width: 16vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pricing-box__price{
    color: white;
    font-size: 0.75rem;
}
.pricing-footer-wrapper{
    height: 15%;
    width: 80%
}
.pricing-footer-wrapper__ptotal{

}
.pricing-footer-wrapper__pabout{
    font-size: 0.7rem;    
}