* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 16px;
    color: #345e68;
}
h1, h2{
    font-family: "Arial Black", Gadget, sans-serif;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 1.1vh 0vh;
    line-height: 2rem;
}
h2{
    font-size: 1.1rem;
}
p, span{
    font-family: "Calibri Light", sans-serif;
    text-align: center;
}
/* NAVIGATION */
.navigation-bar{
    position: fixed;
    /* top: 5vw;
    left: 5vw; */
    z-index: 50;
}
.navigation-bar__logo, .desktop-nav{
    display: none;
}
.burger{
    margin: 3vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.burger__bar{
    width: 13vw;
    height: 2vw;
    margin-bottom: 1.5vw;
    border-radius: 4px;
    background-color: rgb(190, 190, 190);
}
.sidedrawer{
    z-index: 51;
    width: 100vw;
    height: 100vh;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    left: -100vw;
    opacity: 1;
    transition: left 1s ease-in-out;
}
.sidedrawer--visible{
    left: 0;
}
.mobile-nav{
    width: 70vw;
    height: 100vh;
    background-color: rgba(234, 239, 243, 0.97);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mobile-nav__ul{
    list-style-type: none; 
}
.mobile-nav__ul li{
    margin: 7vh 0vh;
}
.mobile-nav__ul li a{
    text-decoration: none;
    color: inherit;
}
/* -----------*/
.container{
    z-index: 100;
}
.section{
    height: 100vh;
    display: flex;
    background-color: rgb(234, 239, 243);
}
.infobox{
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255, 0.8);
    border-radius: 4px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(224,220,224,1);
    -moz-box-shadow: 10px 10px 5px 0px rgba(224,220,224,1);
    box-shadow: 10px 10px 5px 0px rgba(224,220,224,1); 
}
/* HOME */
.section__home{
    background-image: url(/assets/images/glut1.png);
    background-position: top;
    background-size: 100%;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
}
.infobox-home{
    width: 80%;
    height: 70%;
    justify-content: space-between;
}
.infobox-home__p{
    letter-spacing: 2px;
}
.infobox-home__img{
    width: 47%;
    display: block;
    margin: 2vh auto;
}
.infobox-home__desktopH2 .infobox-home__desktopH1, .infobox-home__desktopH2, .infobox-home__desktopH1, .infobox-home__desktop-img, .infobox-home__desktop_p{
    display: none;
}
/* ABOUT */
.section__about{
    background-image: url(/assets/images/glut2.png);
    background-position: top right;
    background-size: 50%;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.infobox-about{
    width: 90%;
    height: 75%;
    padding: 4vw;
}
.infobox-about__p{
    font-size: 0.67rem;
    letter-spacing: 1px;
    margin: 1vh 3vw;
}
.keys_img{
    width: 30%;
    position: absolute;
    top: 80%;
    left: 65%;
}
/* DETAILS */
.section__details{
    background-image: url(/assets/images/glut3.png);
    background-position: top left;
    background-size: 80%;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.infobox-details{
    width: 90%;
    height: 80%;
    padding: 4vw;
    justify-content: space-around;
}
.infobox__group--details{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2vh;
    transform: translateY(40px);
    transition: ease 1s;
}
.infobox-details__span{
    width: 80%;
    text-align: left;
}
.ok_img{
    width: 10vw;
    height: 10vw;
}
/* PRICING */
.section__pricing{
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding-top: 13vh;

}
.pricing-box-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 69%;
}
.pricing-box{
    background-color: white;
    border: 1px solid #29454b;
    padding: 3vw;
    width: 80%;
    height: 24%;
    position: relative;
    transform: translateY(40px);
    transition: ease 1s;
}
.pricing-box__p{
    font-size: 0.77rem;
}
.pricing-box__circle{
    position: absolute;
    left: calc(50% - 8vw);
    top: calc(100% - 8vw);
    border-radius: 8vw;
    background-color: #29454b;
    height: 16vw;
    width: 16vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pricing-box__price{
    color: white;
    font-size: 0.75rem;
}
.pricing-footer-wrapper{
    height: 15%;
    width: 80%
}
.pricing-footer-wrapper__pabout{
    font-size: 0.7rem;    
}
/* CONTACT */
.section__contact{
    background-image: url(/assets/images/glut4.png);
    background-position: 0vw 106vw;
    background-size: 100%;
    background-repeat: no-repeat;
    justify-content: top;
    align-items: center;
    flex-direction: column;
    padding-top: 12vh;
    position: relative;
}
.contact__wrapper{
    height: 65vh;
}
.contact-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 14vh;
    margin-bottom: 3vh;
}
.contact-box__span{
    font-size: 1.2rem;
    font-weight: 600;
}
.contact-box__p{
    font-size: 0.7rem;
}
.contact-box__phone{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 60%    
}
.contact-box__span--nr{
    color: black;
    font-weight: 600;
}
.contact__span{
    display: block;
    text-align: center;
    font-weight: 600;
    font-size: 0.8rem;
}
.contact__p{
    color: black;
    margin: 10px 0px;
    line-height: 1.2rem;
    font-size: 0.9rem;
}
.footer__logo{
    width: 30%;
    margin-top: 2vh;
}
@media screen and (min-width: 320px){
    .infobox-home{
        justify-content: space-around;
    }
    .infobox-home__p{
        font-size: 1.1rem;
    }
    .infobox-about__p{
        font-size: 0.75rem;
    }
    .infobox-details{
        height: 70%;
    }
    .pricing-box__circle {
        left: calc(50% - 9vw);
        top: calc(100% - 9vw);
        border-radius: 9vw;
        height: 18vw;
        width: 18vw;
    }
    .pricing-box__price{
        font-size: 0.9rem;
    }
    .pricing-footer-wrapper{
        height: 13%;
    }
    .section__contact{
        background-position: 0vw 105vw;
    }
    .footer__logo{
        width: 35%;
    }
}
@media screen and (min-width: 360px){
    .infobox-about__p{
        font-size: 0.92rem;
    }
    .section__contact{
        background-position: bottom;
    }
}
@media screen and (min-width: 410px){
    .infobox-about__p {
        font-size: 0.92rem;
    }
    .pricing-box__p {
        font-size: 0.9rem;
    }
    .pricing-box__price {
        font-size: 1.2rem;
    }
    .contact-box__p {
        font-size: 0.9rem;
    }
    .contact__span {
        font-size: 0.9rem;
    }
}
@media screen and (min-width: 768px) and (orientation: portrait){
    html{
        font-size: 24px;
    }
    .mobile-nav {
        width: 51vw;
    }
    .infobox-home__desktopH2, .infobox-home__desktopH1{
        display: block;
    }
    .infobox-home__mobileH1{
        display: none;
    }
    .infobox-home__p{
        margin: 5vw;
    }
    .infobox-about__p {
        font-size: 1.2rem;
    }
    .infobox-home {
        justify-content: center;
    }
}
@media screen and (min-width: 1024px) and (orientation: portrait){
    html{
        font-size: 32px;
    }
}
@media screen and (min-width: 320px) and (orientation: landscape){
    .burger__bar {
        width: 9vw;
        height: 1.5vw;
        margin-bottom: 1vw;
    }
    .mobile-nav {
        width: 50vw;
    }
    .infobox-home__desktopH2 .infobox-home__desktopH1, .infobox-home__desktopH2, .infobox-home__desktopH1, .infobox-home__desktop_p{
        display: block;
    }
    .infobox-home__mobileH1, .infobox-home__p{
        display: none;
    }
    .infobox-home__img {
        width: 27%;
    }
    .infobox-about{
        height: 69%;
    }
    .infobox-about__p {
        font-size: 0.72rem;
    }
    .keys_img{
        display: none;
    }
    .infobox-details__span{
        font-size: 0.8rem
    }
    .ok_img {
        width: 6vw;
        height: 6vw;
    }
    .pricing-box-wrapper{
        flex-direction: row;
        width: 90vw;
        padding: 3vw;
        height: initial;
        justify-content: space-around;
    }
    .pricing-box{
        width: 27vw;
        height: 49vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .pricing-box__circle {
        left: calc(50% - 6vw);
        top: calc(100% - 6vw);
        border-radius: 6vw;
        height: 12vw;
        width: 12vw;
    }
    .pricing-box__p {
        font-size: 0.8rem;
    }
    .section__contact{
        padding-top: 3vh;
        justify-content: space-between;
    }
    .contact-box{
        height: 20vh;
    }
    .contact-box__span{
        font-size: 0.9rem;
    }
    .contact-box__p{
        font-size: 0.7rem;
    }
    .contact__span, .contact__p{
        margin: 0;
    }
    .contact__p{
        font-size: 0.7rem;
    }
    .footer__logo {
        width: 15%;
    }
}
@media screen and (min-width: 1024px) and (orientation: landscape){
    html{
        font-size: 20px;
    }
    .burger{
        display: none;
    }
    .navigation-bar{
        background-image: url(/assets/images/navigation-bar.png);
        background-position: top;
        background-size: 100%;
        background-repeat: no-repeat;
        height: 556px;
        padding: 0vw 5vw;
        display: flex;
        justify-content: flex-end;
        width: 100vw;
    }
    .navigation-bar__logo {
        display: block;
        position: fixed;
        top: 5vw;
        left: 5vw;
    }
    .navigation-bar__logoimg{
        width: 65%;
    }
    .desktop-nav{
        display: block;
        margin: 2vw 0vw;
    }
    .desktop-nav__ul{
        list-style-type: none;
        display: flex;
        width: 70vw;
        margin-left: auto;
        margin-right: auto;
        justify-content: space-around;
        align-items: center; 
        flex-wrap: wrap;
    }
    .desktop-nav__ul li{
        margin: 1vh 0vh;
        text-align: center;
    }
    .desktop-nav__ul li a{
        text-decoration: none;
        color: white;
        font-family: "Arial Black", Gadget, sans-serif;
    }
    .section__home{
        background-image: url(/assets/images/glu1_desktop.png), url(/assets/images/bg_section_home.png);
        background-position: top, bottom;
        background-repeat: no-repeat, no-repeat;
    }
    .infobox-home {
        width: 46%;
        height: 30%;
        justify-content: center;
    }
    .infobox__innerdiv{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .infobox-home__desktopH2 .infobox-home__desktopH1, .infobox-home__desktopH2, .infobox-home__desktopH1, .infobox-home__desktop-img, .infobox-home__desktop_p{
        display: block;
    }
    .infobox-home__mobileH1, .infobox-home__p, .infobox-home__img{
        display: none;
    }
    .infobox-home__desktop-img{
        width: 20%;
        position: absolute;
        left: 71vw;
        top: 34vw;
    }
    .infobox-home__desktopH1, .infobox-home__desktopH2{
        letter-spacing: 5px;
    }
    .infobox-home__desktopH1{
        font-size: 2.3rem;
        margin: 0.6vh 0vh 1.2vh 0vh;
    }
    .infobox-home__desktopH2{
        font-size: 1.7rem;
        margin: 0.6vh 0vh;
    }
    .infobox-home__desktop_p{
        letter-spacing: 5px;
        font-size: 1.2rem;
    }
    .section__about{
        background-image: url(/assets/images/bg_section_about.png);
        background-size: 124%;
        background-position: center;
        align-items: flex-end;
    }
    .infobox-about {
        width: 62%;
        height: 32%;
        margin: 0vw 10vw;
        padding: 2vw;
    }
    .infobox__innerdiv{
        border: 1px solid;
    }
    .infobox-about__h2{
        position: absolute;
        left: 50%;
        width: 18vw;
        top: 25vh;
    }
    .infobox-about__p{
        font-weight: 100;
        /* font-size: 0.95rem; */
    }
    .keys_img{
        display: none;
    }
    .section__details{
        background-image: url(/assets/images/bg_section_details.png);
        background-size: 124%;
        background-position: center;
        align-items: flex-end;
    }
    .infobox-details {
        width: 62%;
        height: 35%;
        margin: 0vw 10vw;
        padding: 2vw;
        background-color: rgb(255, 255, 255, 0);
        box-shadow: unset;
    }
    .infobox__group--details{
        justify-content: space-around;
        align-items: center;
    }
    .ok_img {
        width: 3.5vw;
        height: 3.5vw;
    }
    .infobox-details__span{
        border: 1px solid;
        text-align: center;
        padding: 1vw;
        width: 88%;
    }
    .section__pricing{
        background-image: url(/assets/images/bg_section_pricing.png);
        background-size: 50%;
        background-position: bottom left;
        background-repeat: no-repeat;
        align-items: flex-end;
        justify-content: initial;
        padding-top: 26vh;
    }
    .pricing-box-wrapper{
        flex-direction: row;
        width: 75vw;
        padding: 3vw;
        height: initial;
        justify-content: space-around;
    }
    .pricing-box{
        width: 17vw;
        height: 30vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .pricing-box__circle {
        left: calc(50% - 4vw);
        top: calc(100% - 4vw);
        border-radius: 4vw;
        height: 8vw;
        width: 8vw;
    }
    .pricing-box__p {
        font-size: 0.8rem;
    }
    .pricing-footer-wrapper{
        width: 63vw;
        height: 13vh;
        margin: 10vh 6vw;
        background-color: #345e68;   
    }
    .pricing-footer-wrapper__ptotal, .pricing-footer-wrapper__pabout{
        padding: 1vh 4vh;
        color: white;
    }
    .section__contact{
        background-image: url(/assets/images/bg_section_contact.png);
        /* background-size: 50%; */
        /* background-position: bottom left; */
        background-repeat: no-repeat;
        align-items: flex-end;
        justify-content: initial;
    }
    .footer__logo{
        display: none;
    }
    .contact__wrapper{
        /* display: flex;
        justify-content: space-around; */
        height: initial;
        width: 75vw;
        padding-top: 20vh;
    }
    .contact-box{
        justify-content: initial;
    }
    .contact-box__p{
        margin: 0.6vw 0vw 2vw 0vw;
        font-size: 0.7rem;
    }
    .contact-box__span{
        font-size: 1.4rem;
        letter-spacing: 2px;
        font-weight: 400;
    }
    .contact-box__span--nr{
        font-size: 1.2rem;
    }
    .contact-box__phone{
        width: 18vw;
    }
    .contact__p{
        line-height: 1.7rem;
        font-size: 0.8rem;
    }
}
@media screen and (min-width: 1366px) and (orientation: landscape){
    html{
        font-size: 28px;
    }
}
@media screen and (min-width: 1920px) and (orientation: landscape){
    html{
        font-size: 32px;
    }
    .navigation-bar__logoimg{
        width: 75%;
    }
    .section{
        padding-top: 15vh;
    }
    .infobox-home__desktop-img{
        top: 41vh;
    }
    .infobox-about__h2{
        top: 34vh;
    }
    .section__pricing{
        padding-top: 26vh;
    }
    .section__contact{
        padding-top: 10vh;
    }
}
@media screen and (min-width: 3840px) and (orientation: landscape){
    html{
        font-size: 40px;
    }
}